@model IEnumerable<CharityV2.Data.ActiveActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Отоговорници</h1>
<div>
    <p>Тук можете да получите информация за главните отговорници в уеб приложението и няколко начина, по които да се свържете с тях при възникнал проблем или въпрос. Също така можете да разберете, за кои събития отговорят. </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Отговорник
            </th>
             <th>
                Email
            </th>
            <th>
                Телефон
            </th>
            <th>
                Събитие
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activitiy.Name)
            </td>
            @if(User.IsInRole("Admin"))
            {
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>}
        </tr>
}
    </tbody>
</table>
