@model IEnumerable<CharityV2.Data.Activity>

@{
    ViewData["Title"] = "Актуално";
}
<body class="a-back">
<h1>Събития и дейности</h1>

<p>
    <a asp-action="Create">Подаване на заявка</a>
</p>
<div class="table-style">
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>

            <th>
                Описание
            </th>
            <th>
                Местоположение
            </th>
            <th>
                Начало
            </th>
            <th>
                Край
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a><br>
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a> <br> 
                        <a asp-controller="ActiveActivities" asp-action="Create" asp-route-idActivity="@item.Id">Одобрявам</a><br>
                    }
                    <a asp-controller="Activitiys" asp-action="Details" asp-route-id="@item.Id">Допълнителна информация</a><br>
                    <a asp-controller="Activitiys" asp-action="Like" asp-route-id="@item.Id">Харесва ми</a><br>
                    <a asp-controller="Activitiys" asp-action="Participate" asp-route-id="@item.Id">Ще участвам</a><br>

                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</body>